* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-color: #19A1AE;
    background-image: url("bg-pattern-top.svg"), url("bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position-y: -500px, 500px;
    background-position-x: -10%, 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    overflow:hidden;
    width: 350px;
    height: 374px;
    display: flex;
    justify-content: flex-end;
    border-radius: 15px;
    background-image: url("bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    flex-direction:column;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}
.someone {
    border: 5px solid #FFFFFF;
    border-radius: 100%;

}
.user {
    color: #2E3349;
    font-weight: 700;
    padding-top: 24px;
    padding-bottom: 13px;
    font-family: KumbhSans-Bold;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
}
.content span {
    color: #6B7082;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.32px;
}
.city {
    color: #6B7082;
    padding-bottom: 28px;
    font-family: 'Kumbh Sans';
    line-height: 17px;
    font-weight: 400;
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px #E8E9EC solid;
    height: 88px;
    font-family: 'Kumbh Sans';
}
.data {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color:#2E3349;
}

.textStyle {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #6B7082;
    padding:9px;
}
 